<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Service control</title>
</head>
<body>
{% if result %}
    <div style="width: 100%; background-color: lightgreen; height: 50px; font-size: 30px; padding: 15px">{{result}}</div>
{% endif %}
{% if error %}
    <div style="width: 100%; background-color: pink; height: 50px; font-size: 30px; padding: 15px">{{error}}</div>
{% endif %}
<button type="button" onclick="document.location='start'">Start</button>
<button type="button" onclick="document.location='stop'">Stop</button>
<button type="button" onclick="document.location='restart'">Restart</button>
</body>
</html>
